body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #4a4a4a;
}

header, footer {
    font-size: large;
    text-align: center;
    padding: 0.3em 0;
    background-color: #4a4a4a;
    color: #f9f9f9;
}

nav {
    background: #eee;
}

main {
    background: #f9f9f9;
}

aside {
    background: #eee;
}

/* 질문 */
    /* background 속성과 background-color 속성은 어떻게 다른가요? */
    /* 
    background와 background-color 모두 배경 색상을 지정할 수 있다.
    그러나, background-color 즉 색깔만 지정할 수 있는 반면에, background는 color 이외의 다른 background 옵션들까지 지정해줄 수있다.
    background는 다른 color / image / repeat / attachment / position과 background 옵션들을 추가적으로 부여할 수 있다. 
    */

