/* 박스모델 */
/* 줄 바꿈이 되는 박스는 block 박스, 
줄 바꿈이 일어나지 않고, 크기 지정을 할 수 없는 박스는 inline 박스라고 부릅니다.  */
/* 이 두 가지 박스 종류의 특징이 섞인, 
줄 바꿈이 일어나지 않는 동시에 block 박스의 특징을 가지는 inline-block 박스도 있습니다. */
h1 {
    background: grey;
    width: 80%;
}

p {
    background: green;
    width: 80%; 
    height: 200px;
}

span {
    background: red;
    width: 100px;
    height: 100px;
}

/* 박스모델 */
/* 줄 바꿈이 되는 박스는 block 박스, 
줄 바꿈이 일어나지 않고, 크기 지정을 할 수 없는 박스는 inline 박스라고 부릅니다.  */
/* 이 두 가지 박스 종류의 특징이 섞인, 
줄 바꿈이 일어나지 않는 동시에 block 박스의 특징을 가지는 inline-block 박스도 있습니다. */

span {
    display: inline-block;
}

/* border(테두리) */
p {
    border: 1px solid red;
}

/* margin(바깥 여백): 시계방향 순서라고 기억하자. padding도 같은 순서이다.*/
p {
    margin: 10px 20px 30px 40px;
}

/* 박스를 벗어나는 콘텐츠 처리 */
p {
    height: 40px;
    overflow: auto; /* 박스보다 큰 콘텐츠에는 스크롤을 표시한다. */
}

