/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
/* 초기화 */
html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


/* 텍스트 크기 조정 */
h2 {
    font-size: 1rem;
}

.discussion__information{
    font-size: 0.8rem;
}


/* 1. Discussion 컴포넌트 */
.discussion__container {
    box-sizing: border-box; /* 모든 요소에 border-box를 적용합니다. */
    width: 540px;
}

li {
    list-style: none; /* <li> 요소의 기본 스타일인 점을 보이지 않게 합니다. */
}


/* 2. 왼쪽 아바타 */
.discussion__avatar--image,  .answered_avatar_img{
    border: 3px solid white;
    border-radius: 50%;
    width: 48px;
}




/* 3. 중간 Discussion 콘텐츠 */
li.discussion__container{ 
    display: flex;
    width: 50%;
    padding: 3rem;
}

.discussion__title {
    margin: 0px;
}

.discussion__information {
    margin: 0px;
}


/* 4. 오른쪽 체크 표시 */
.discussion__answered {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: x-large;
}


/* 나만의 디자인 하기 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* 폼 디자인 */
.form__container {
    margin: 5rem;
}


    /* 게시판 디자인 */
.discussion__container {
    border: 5px solid black;
    word-break: break-all;
}

.discussions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discussion__content {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}



.question_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.highlight {
    width: 100px;
}

#answerBox {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p>a>img {
    width: 100%;
}

p {
    margin: 5px;
}

pre, code {
    overflow:scroll;
    width: 37rem;
    margin: 0;
    padding: 0;
}